<!--The content below is only a placeholder and can be replaced.-->
<div class="app-content">
  <div class="level-container">
    <p class="level-descriptor">Level</p>
    <p (click)="test($event)" class="level-number">{{ Level }}</p>
  </div>
  <canvas #canvas class="gameplay"></canvas>
  <div class="player-model"></div>
  <div class="hud">
    <div class="ammo">
      <p>{{ Ammo }}</p>
    </div>
    <div class="inventory"></div>
    <div class="stats">
      <p>Score: {{ Score }}</p>
      <p>Money: {{ Money }}</p>
    </div>
    <div class="menu">MENU</div>
  </div>
</div>

<router-outlet></router-outlet>
